.button-view {
    width: 100%;
    height: 100%;
    text-align: center;
}
.button-view:hover {
    background-color: #444644;
}
.button-view:active {
    background-color: #555555;
}
.button-view p {
    margin: 0;
    padding: 10px;
}
