.context-menu {
    position: fixed;
    width: 100px;
    background-color: #FFFFFF;
    z-index: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.context-menu li {
    border: 1px solid #777777;
    color: #000000;
    height: 20px;
    box-sizing: border-box;
}
.context-menu li:hover {
    background-color: #CCCCCC;
}
